#includes:
#	- vendor/phpat/phpat/extension.neon
services:
    -
        class: tests\arch\ArchTest
        tags:
            - phpat.test
parameters:
	bootstrapFiles:
		- vendor/yiisoft/yii2/Yii.php
	level: 9
	paths:
		- app
		- tests/arch
	parallel:
		maximumNumberOfProcesses: 10
	phpat:
		ignore_built_in_classes: true
		show_rule_names: true

